@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* text-decoration: none; */
  scroll-behavior: smooth;
}

body {
  color: #000000;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 auto;
  align-items: center;
}

/* body {
  width: 100%;
  height: auto;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-around;
} */

/*---------------SIDEBAR---------------------*/
.sidebar {
  font-family: "Rubik";
  display: flex;
  width: 100%;
  background: #111;
  /* padding-top: 15%; */
  justify-content: center;
  align-items: center;
}

.sidebar h1 {
  display: flex;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  /* font-family: "Rubik"; */
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
}

.hover-1 {
  display: block;
  padding: 10px 20px;
  color: #bbb;
  text-decoration: none;
  font-family: "Rubik";
  letter-spacing: 2px;
}

a,
a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a:before,
a:after,
a > span:before,
a > span:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}

.hover-1 {
  padding-top: 10px;
}
.hover-1:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: rgb(155, 95, 224);
  transform: scaleX(0);
}
.hover-1:hover:before {
  transform: scaleX(1);
}

/* .sidebar a:hover {
  color: #fff;
  margin-left: 20px;
  transition: 0.4s;
} */

.side_img {
  height: auto;
  width: 11%;
  padding: 2%;
}
/*---------------FIN SIDEBAR--------------------*/

/*---------------COMIENZO HERO--------------------*/
.hero {
  background-image: url("/img/contacto/mapamundi.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 1400px;
  height: 850px;
  position: relative;
}
/*---------------FIN HERO--------------------*/

/* COMIENZO FOOTER */
footer {
  width: 100%;
  height: auto;
  background-color: rgb(17, 17, 17);
  display: flex;
  justify-content: center;
}

.footer_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_img > p {
  font-family: "Dosis", sans-serif;
  color: #ffffff;
}
/* FIN FOOTER */
